HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Java
*.class
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### JTE ###
/jte-classes/

# OAuth secret keys
/src/main/resources/oauth.properties

# Env
.env
.env.*

# Maven
pom.xml.versionsBackup
release.properties

# IntelliJ out folder
out/

# Eclipse
bin/

# macOS
.DS_Store
